.bgReasons {
  background: linear-gradient(
    152.61deg,
    rgb(21, 23, 32) 37.863%,
    rgb(30, 33, 46) 90.141%
  );
}

.path {
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
}

.bgTitle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgLine {
  background-image: url("../../public/line.png");
  background-size: 670px 391px;
  background-position: bottom -60px right 30px;
}
